<main>
    <table class="expenses-info">
        <thead>
            <tr>
                <th colspan="2">Expenses</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total Amount:</td>
                <td>{{amount}} BGN</td>
            </tr>
            <tr>
                <td>Total Merches</td>
                <td>{{allEx}}</td>
            </tr>
        </tbody>
    </table>

    <div class="current-amount">
        <p>Available amount: <span>{{diff}} BGN</span></p>
    </div>
</main>